.garage-page {
  width: 100%;
  padding: 24px;
}



.garage-header h1 {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 4px;
}

.garage-header-text {
  text-align: left;
}



/* Lista */
.garage-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* BOTÃO */
.add-vehicle-btn {
  background-color: #00ffae;
  color: #000;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
  
}

.add-vehicle-btn:hover {
  background-color: #00e69c;
}

.garage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}