.performance-bar {
  position: relative;
  height: 20px;
  border-radius: 3px;
  background: #5e5c5c;
  overflow: hidden;
  margin-top: 6px;
}

.performance-base {
  position: absolute;
  height: 100%;
  background: #333;
}




.performance-diff {
  position: absolute;
  height: 100%;
}

.performance-bar::after {
  content: "";
  position: absolute;
  inset: 0;

  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.12) 1px,
    transparent 1px
  );

  background-size: 20% 100%; /* controla quantidade de divisões */
  pointer-events: none;
}